html, body {
	background-color: rgb(222,222,222);
	background: url(../images/desk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: helvetica;
	text-align: center;
	color: White;	
	height: 100%; /*needed for floats*/
}
#wrap{
	height: 100%; /* this and above for floats, but fuck floats seriously */
  	margin: 0 auto; /*keeps things centered as screen grows above 1200px*/
 	max-width: 1080px;
 	position: relative;
}
.shape{
	width: 33.3%; 
	margin: 200px auto; /* needs to be in .shape for media query to work see media comments*/
	position: absolute; /* this coupled with left: ### is what changed the order of the shape divs for big screens*/
}
.shape img{
	width: 85%;
	height: 85%;
	max-width: 200px;
}
#circle{
	left: 33.33%;
}
#square{
	left: 0;
}
#triangle{
	left: 66.66%;
}
#circle img{
    /*border: 0px solid rgba(150,200,255,1); NOT NEEDED*/
    border-radius: 100%; /*TO MAKE A CIRCLE FAM.*/
}

.section {
	width: 50%;
	margin: 100px auto;
	position: absolute;
}
#face{ 
	position: fixed; /* IT IS VERY IMPORTANT THIS FALLS UNDER .section's position declaration in the code*/
	left: 0;}
#face img{
	width: 85%;
    border-radius: 100%;
    max-width: 300px;
}
#text{
	left: 47%;
	text-align: left;
	background-color: rgba(150,225,255,.5);
}
p {
	padding: 10px 20px;
}

/* Below sets different parameters for when the width of the browser is LESS than 600px*/
@media (max-width: 600px) {
	#wrap {
		width: 100%;
	}
	.shape{ /*Not sure why but a verticle margin in #wrap wouldn't work, see above, keep in .shape class */
		margin: 75px auto;
		width: 100%;
		position: static; /*this returns the position of the elements to the html structure (circle first)*/

	}
	.section {
		margin: 75px auto;
		width: 80%;
		position: static;
	}
	#face {
		max-width: 200px;
		position: static;
	}
}