body {
	background-color: rgb(222,222,222);
	background: url(../images/desk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: helvetica;
	text-align: center;
	color: White;
}
/* Table but can't work out mediaQ
.lander {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-spacing: 40px;
}
.col {
	display: table-cell;
}
*/
.wrap {
	width: 100%;
}
.shape{
	width: 33.33%;
	margin: 200px auto;
	display: inline-table;
	position: absolute;
}
#about{
	left: 33.33%;
}
#contact{
	left: 0;
}
#lessons{
	left: 66.66%;
}
#about img{
		max-width: 250px;
    /*border: 0px solid rgba(150,200,255,1); NOT NEEDED FAM. */
    	border-radius: 100%;
}
#contact img{
		max-width: 250px;
}
#lessons img{
		max-width: 250px;
}
/*  below is unresponsive/bad practice. Look up media queries. 
.about img{
	width: 200px;
	height: 200px;
	margin: 40px 0px 0px 0px;
    border: 7px solid rgba(500,0,500,.5);
    border-radius: 100px;
}*/
/* Below sets different parameters for when the width of the browser is LESS than 600px*/
@media (max-width: 800px) {
	.wrap {
		width: 100%;
	}
	.shape{
		margin: 75px auto;
		width: 100%;
		position: static;
	}

}
