body {
	background-color: rgb(222,222,222);
	background: url(../images/desk.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: helvetica;
	text-align: center;
	color: White;
}

#wrap{
  	margin: 0 auto; /*keeps things centered as screen grows above 1200px*/
 	max-width: 1200px;
 	position: relative;
}
.shape{
	width: 33.3%; 
	margin: 200px auto; /* needs to be in .shape for media query to work see media comments*/
	position: absolute;
}
.shape img{
	width: 85%;
	height: 85%;
	max-width: 200px;
}
#circle{
	left: 33.33%;
}
#square{
	left: 0;
}
#triangle{
	left: 66.66%;
}
#circle img{
    /*border: 0px solid rgba(150,200,255,1); NOT NEEDED*/
    border-radius: 100%; /*TO MAKE A CIRCLE FAM.*/
}
/*  below is unresponsive/bad practice. Look up media queries. 
.about img{
	width: 200px;
	height: 200px;
	margin: 40px 0px 0px 0px;
    border: 7px solid rgba(500,0,500,.5);
    border-radius: 100px;
}*/
/* Below sets different parameters for when the width of the browser is LESS than 600px*/
@media (max-width: 600px) {
	#wrap {
		width: 100%;
	}
	.shape{ /*Not sure why but a verticle margin in #wrap wouldn't work, keep in .shape class */
		margin: 75px auto;
		width: 100%;
		position: static; /*this returns the position of the elements to the html structure (circle first)*/

	}
}
